@charset "utf-8";
/* CSS Document */

.img_header{
	position: absolute;
	height: 119px;
	left: -1px;
	top: 0px;
	width: 201px;
}

.menu {
	position: absolute;
	left: 107px;
	top: 163px;
	width: 88px;
	height: 0px;
	
}

.prof{
	position: absolute;
	left: 15px;
	top: 53px;
}

.conhecimentos{
	position: absolute;
	left: 148px;
	top: 102px;
	width: 259px;
}

.cursos_tradicionais{
	position: absolute;
	left: 507px;
	top: 204px;
	height: 59px;
}

.atividades_de_curso{
	position: absolute;
	left: 500px;
	top: 210px;
}

.estagios{
	position: absolute;
	left: 548px;
	top: 214px;
}

.biblioteca_online{
	position: absolute;
	left: 542px;
	top: 213px;
}

.central_do_professor{
	position: absolute;
	left: 500px;
	top: 214px;
}	

.Back{
	position: absolute;
	left: 0px;
	width: 1360px;
	top: 0px;
	height: 662px;
	background-color: #000000;
	
	
}

.Back2{
	position: absolute;
	left: 30px;
	width: 1295px;
	top: 17px;
	height: 645px;
	background-color: #F5F5F1;
}

.telefone{
	position: absolute;
	left: 326px;
	top: 35px;
	width: 216px;
	height: 44px;
}

.telefone_numero{
	position: absolute;
	left: 67px;
	top: -14px;
	width: 211px;
}

.redes_sociais{
	position: absolute;
	left: 687px;
	top: 20px;
	width: 245px;
	height: 109px;
}

#facebook_conteudo{
	position: absolute;
	left: 21px;
}

#facebook{
	position: absolute;
	left: 57px;
	top: -8px;
}

#instagram_conteudo{
	position: absolute;
	left: 15px;
	top: 51px;
	width: 40px;
}

#instagram{
	position: absolute;
	left: 52px;
	top: -8px;
	height: 22px;
}

.central_aluno{
	position: absolute;
	left: 1016px;
	top: -11px;
	height: 140px;
}

.menu{
	position: absolute;
	width: 1030px;
	height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00aeef;
	box-shadow: 0px 2px 4px;
	font-family: Saira Condensed;
	font-size: 31px;
	
}

li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding-left: 45px;
	padding-right: 45px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #53caf6;
}

.dropdown-content {
    position: absolute;
    background-color: #00aeef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
	display: block;
	font-size:20px;
}

.dropdown-content a:hover {
	background-color: #53caf6
}

.dropdown:hover .dropdown-content {
    display: block;
}

#flex-container
{
	position:absolute;
	display: flex;
	font-family: Roboto;
	text-align: center;
	top: 270px;
	left: 120px;
	right:110px;
}

.lol{
	text-align: left;
}

.opa{
	text-align: left;
	position: absolute;
	left: 466px;
	top: 44px;
}

.opa_tio{
	text-align: left;
	position: absolute;
	left: 283px;
	top: 4px;
	padding-right: 110px;
}

.opa_fion{
	text-align: left;
	position: absolute;
	padding-right: 110px;
	left: 636px;
	top: 75px;
	
}

.center-column
{
	float:left;
	width:90%;
	background-color:#fff;
	border-color: #00b8e6;
	margin: 1px;
	padding: 0;
}

.livro
{
	position: absolute;
	left: 1163px;
	top: 161px;
	width: 127px;
	height: 264px;
}
